# EditorConfig is awesome: https://EditorConfig.org

# 顶层配置文件
root = true

# 所有文件通用设置
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java文件
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120

# XML文件
[*.xml]
indent_style = space
indent_size = 2

# YAML文件
[*.yml]
[*.yaml]
indent_style = space
indent_size = 2

# Markdown文件
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# JSON文件
[*.json]
indent_style = space
indent_size = 2

# Properties文件
[*.properties]
indent_style = space
indent_size = 4

# PowerShell脚本
[*.ps1]
indent_style = space
indent_size = 4
max_line_length = 120

# JavaScript/TypeScript文件
[*.js]
[*.ts]
indent_style = space
indent_size = 2
max_line_length = 120

# Vue文件
[*.vue]
indent_style = space
indent_size = 2

# CSS文件
[*.css]
[*.scss]
indent_style = space
indent_size = 2
