server:
  port: 8092

spring:
  application:
    name: ioedream-report-service
  profiles:
    active: dev
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:ioedream_report_dev;DB_CLOSE_DELAY=-1;MODE=MySQL;DATABASE_TO_LOWER=TRUE
    username: sa
    password: ""
  h2:
    console:
      enabled: true
      path: /h2-console
  jackson:
    time-zone: Asia/Shanghai

logging:
  level:
    net.lab1024: DEBUG
    org.springframework: INFO